TURSO_DATABASE_URL=libsql://f1-fantasy-tejanh.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzIyODU4OTksImlkIjoiMDE5Y2E0NmUtOGUwMS03MjM5LWFkMzgtODUzNmUzMDRhYTUzIiwicmlkIjoiYzNjYTE4MjktMGE3ZC00YmJjLWJkMmItNDU4YzdjOTM1NzdmIn0.VmqDFkDzDIEZ6oe0JJG5sai-qWJpKlyZFPD5WXOOR3TKgn6igzyKIBrYciXQPL-Pqe6mPWuJ1P5FWwXFzCv5CA
